.header {
    background-color: $dark-color;
  }
  
  .header__title {
    font-family: $font-family-main;
    color: $white-color;
  }
  
  .header__links {
    font-family: $font-family-main;
    color: $white-color;
  }