$light-color: #f9f6f7;
$dark-color: #ff971d;
$white-color: #ffffff;
$secondary-color: #ffe8d6;

$text-black-color: #333333;

$font-family-main: "Noto Sans JP", sans-serif;
$font-family-secondary: "Roboto", sans-serif;